[MASTER]
# Maximum number of lines in a module
max-module-lines=200

# Files to ignore
ignore=pyproject.toml

[MESSAGES CONTROL]
# Disable missing docstring warnings
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring

[DESIGN]
max-args=3
max-locals=15
max-statements=50
max-branches=20
max-returns=5
max-attributes=5
max-public-methods=5
max-parents=3

# Complexity settings
max-complexity=5
min-public-methods=1
min-similarity-lines=4

[METRICS]
# Enable complexity metrics
compute-complexity=yes

# Maintainability Index settings
min-mi-score=90  # Warn if below 50
mi-method=all    # Calculate for all code

# Halstead metrics settings
halstead-operator-count=yes
halstead-operand-count=yes
halstead-volume=yes
halstead-difficulty=yes
halstead-effort=yes

